

body {
    font-family:  Arial, sans-serif;
    background: linear-gradient(135deg, #f7d794, #778beb);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.calculator {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0,2);
    text-align: center;
    width: 600px;
    height: 300px;
}

.calculator h1 {
    margin-bottom: 50px;
    color: #778beb;
}

.calculator input,
.calculator select:not(.operator) {
    width: 180px;
}

.calculator input ,
.calculator select {
    padding: 8px;
    margin: 5px;
    border: 2px solid #dcdde1;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}


.calculator button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #91daff;
    color: white0;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.calculator button:hover { background: #0097e6;}

#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #2f3640;
}












